main {
  max-width: $max-width-content;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  @include align-center;
}

.b-example {
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 120px;

  &_num,
  &_total,
  &_operator {
    display: inline-block;
    vertical-align: middle;
  }

  &_num,
  &_total {
    font-size: 45px;
  }

  &_num {
    margin: 0 11px;
    border-radius: 5px;
    padding: 2px 4px;

    &.is-current {
      background-color: #e67e22;
    }
  }

  &_total {
    margin: 0 15px;
    width: 70px;
    color: #000;
    border: 2px solid transparent;

    &:not([disabled]) {
      border-color: #ccc;
      border-radius: 7px;
      text-align: center;

      &.is-error {
        color: #e74c3c;
      }
    }
  }

  &_operator {
    font-size: 35px;
  }
}

.b-rule {
  width: 875px;
  height: 83px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #fff8d1 0, #f7eacd 100%);

  &_axis {
    position: relative;
    width: 815px;
    height: 22px;
    line-height: 22px;
    padding-top: 9px;
    margin-left: 35px;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: 20px;
      left: 0;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: #7f7d6e;
    }

    &::after {
      right: 0;
      top: 13px;
      width: 14px;
      height: 14px;
      border-top: 2px solid #7f7d6e;
      border-right: 2px solid #7f7d6e;
      transform: rotate(45deg);
    }
  }

  &_decimals {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
  }

  &_item-decimal {
    position: relative;
    width: 39px;
    height: 18px;
    margin-top: 2px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 18px;
      width: 1px;
      background-color: #000;
      z-index: 8;
    }

    &:nth-child(5n + 1) {

      &::before {
        width: 3px;
        left: -1px;
      }

      .b-rule_num {
        top: 31px;
        font-weight: bold;
        font-size: 26px;
        line-height: 26px;
      }
    }

    &:nth-child(10n + 1) {

      &::before {
        height: 22px;
        top: -2px;
      }
    }
  }

  &_num {
    position: absolute;
    top: 33px;
    left: -20px;
    width: 40px;
    height: 22px;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
  }

  &_segment {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 108px;
    z-index: 9;

    + .b-rule_segment {

      .b-segment_arrow {
        margin-left: 0;
      }
    }
  }

  .b-segment_input {
    display: block;
    width: 30px;
    height: 35px;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 7px;

    &[disabled] {
      border: none;
      font-size: 30px;
    }

    &.is-error {
      color: #e74c3c;
    }
  }

  .b-segment_arrow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
    margin-left: 1px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-color: #8e44ad;
    }

    &::before {
      width: calc(100% - 2px);
      height: 120px;
      bottom: -65px;
      right: 0;
      left: 0;
      border-width: 2px;
      border-style: solid;
      border-radius: 100%;
    }

    &::after {
      right: 1px;
      bottom: 3px;
      width: 12px;
      height: 12px;
      border-right-width: 2px;
      border-right-style: solid;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      transform: rotate(20deg);
    }
  }
}