@charset 'utf-8';

img {
  @include img-full;
}

body {
  position: relative;
  min-width: $min-width;
  height: 100vh;
  font: $base-font-size $default-font-family;
  color: $text-color;
  background-color: #f7f7f7;
}